/*********************************************************************************/
/* Default Properties                                                           */
/*********************************************************************************/
	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #3b1e59;
		line-height: 28px;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 16px;
		font-weight: 300;
		color: #000000;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	p
	{
		font-family: Cavolini;
		font-size: 20px;
	}
	
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #3b1e59;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0 auto;
		width: 1020px;
	}
	
/*********************************************************************************/
/* Title Styles                                                                  */
/*********************************************************************************/

	.title
	{
		padding: 0 0;
		margin-bottom: 48px;
	}
	
	.title h2
	{
		margin-bottom: 16px;
		text-transform: uppercase;
		font-family: "Bodoni MT Black";
		font-size: 32px;
		color: #3b1e59;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	header
	{
		position: relative;
		padding: 48px 0;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 32px;
		left: 0;
	}
	
	#logo h1
	{
	}
	
	#logo a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.9);
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 32px;
		right: 0;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 12px 24px;
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		background: rgba(0,0,0,0.5);
		border-radius: 20px;
		color: rgba(255,255,255,0.8);
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		padding: 80px 0;
		background-image: url(../images/pic00.jpg);
		background-size: cover;
		background-attachment: fixed;
		opacity:1;
	}

	.box
	{
		position: relative;
		box-shadow: 0 0 30px #000;
	}

	.box img
	{
		width: 1020px;
		height:640px;
		float: left;
		margin:0 10px;
	}

	.box .details
	{
		position: absolute;
		top: 50px;
		left: 60px;
		color: rgba(255,255,255,0.8);

	}

	#housenumber, #billheading
	{
		font-family: "Bodoni MT Black";
		text-decoration: underline;
	}

	button
	{
		background-color: rgba(255,255,255,0.8);
		border: none;
		color: #3b1e59;
		padding: 10px 24px;
		text-align: center;
		display: inline-block;
		font-size: 16px;
		cursor:pointer;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	footer:
	{
		position: bottom;
	}

	#copyright
	{
		overflow: hidden;
		padding: 80px 0;
	}
	
	#copyright p
	{
		letter-spacing: 4px;
		text-align: center;
		text-transform: uppercase;
		font-size: 13px;
		color: rgba(255,255,255,0.3);
	}
